::selection {
    background-color: #eeabfa;
    color: #554433;
    
}
::-moz-selection {
    background-color: #eeabfa;
    color: #554433;
}
* {
    position: relative;
}
a:hover {
    color: #998877;
}
a:active {
    color: #887766;
}
a:visited {
    color: #e5e5e5;
}
a:visited:hover {
    color: #887766;
}
html {
    background-color: #6b5743;
    font-family: "Fanwood"; /* WE NEED TO LOAD THIS FONT, @FONTFACE */
    color: #202020;
    min-height: 610px;
}
body {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.wrapper {
    width: 80%;
    height: 100%;
    min-width: 470px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px #000000;
    z-index: 2;
    background-image: url('repeat.png');
	background-repeat: repeat;
}
.textured {
	background-image: url('repeat.png');
	background-repeat: repeat;
}
header {
    width: auto;
    height: auto;
    background-image: url('repeat.png');
	background-repeat: repeat;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
nav {
    margin-top: 10px;
    width: 100%;
    margin-top: 0px;
    text-align: center;
    padding-top: 20px; padding-bottom: 20px;
    background-color:#202020;
}
.navlink {
    color: #e5e5e5;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
       -moz-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
        -ms-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
         -o-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
            transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	    -ms-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	        transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 90%;
    max-width: 630px;
    height:auto;
    background-image: url('repeat.png');
	background-repeat: repeat;
    /*background-color: #ffffff;*/
}
.information {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 630px;
    background-image: url('repeat.png');
	background-repeat: repeat;
}
.information p {
    text-align: justify;
}
footer {
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding-top: 20px; padding-bottom:20px;
    color: #585858;
    font-weight: 100;
    background-color:#202020;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.logobg {
    width: auto;
    height: 100%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.logo {
    font-family: Arial;
    font-size: 200px;
}
#gleft {
    float: left;
    height: 100%;
    width: 100px;
}
#gright {
    float: right;
    height: 100%;
    width: 100px;
}
.formalities {
    position: fixed;
    bottom: 5px;
    text-align: center;
    margin-bottom: 15px;
    font-size: .75em;
    color: #998877;
    width: 100%;
    min-width: 470px;
    z-index: 1;
}
h2 {margin:0px; margin-top:19px;}

.flexcont {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    border:1px solid rgba(0,0,0,0.2);
}

.flexcont iframe,   
.flexcont object,  
.flexcont embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input {padding:12px; margin:0; margin-bottom: 5px; margin-top: 5px;}
textarea {padding:12px; width:169px; height:36; margin:0; margin-top: 5px;}
.letter {
	text-align: center;
}
.col1 {display: inline-block; right:0px; margin-right: 5px;}
.col2 {display: inline-block; left:0px; margin-left: 5px;}
input, textarea, button {border-radius: 4px; border: 0px;}
button {width:193px; padding:12px; height:100%;}
